doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap' rel='stylesheet')
  script(src='https://kit.fontawesome.com/4eb923eb5b.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/main.css')
  title Instagram
main
  .main-authentication-block
    .main-authentication-block--form
      .main-authentication-block--form_logo
        img(src='/img/logo.png' alt='instagram_logo')
      .main-authentication-block--form_description Зарегистрируйтесь, чтобы смотреть фото и видео ваших друзей.
      button
        i.fab.fa-facebook-square
        |  Войти через Facebook
      .main-authentication-block--form_alternative
        .main-authentication-block--form_alternative__line
          span ИЛИ
      .main-authentication-block--form_fields
        form
          input(id="register_email" type='email' placeholder='Эл. адрес')
          input(id="register_name" type='text' placeholder='Имя и фамилия')
          input(id="register_nickname" type='text' placeholder='Имя пользователя')
          input(id="register_first_password" type='password' placeholder='Пароль')
          input(id="register_second_password" type='password' placeholder='Повторите пароль')
          input(id="register_submit" type='submit' value='Регистрация')
      .main-authentication-block--form_attention
        | Регистрируясь, вы принимаете наши Условия, Политику использования данных и Политику в отношении файлов cookie.
    .main-authentication-block--register
      span Есть аккаунт? 
      a(href='/auth/login') Войти
script(src='/js/registration.js')
